#buttonsMove button {
	width: 20px !important;
}
#conversationDiv textarea{
	margin: 0 0 5px 0;
}
#toolbar {
    padding: 4px;
    display: inline-block;
}
body{
	font: 12px verdana, sans-serif; 
	margin: 0px;
}
header{
	background-color: #679BB7;
	padding: 10px;
	min-height: 3em;
}
header h1{
	font-size: 18px; 
	margin: 10px 0;
}
.container{
	width: 100%;
	background-color: #f0f0f0; 
}
.sidebar{
	float: left; 
	width: 20%; 
	min-height: 170px;
	background-color: #bbd2df;
}
.sidebar #chatArea{
	padding: 10 5 5 10
}
.detective{
	float: right;
	width: 15%;
}
.detective div{
	padding: 10px 0px 0px 0px;
}
.rightSidebar-spacer{
	height:40%;
}
.content{
	float: left;
	width: 65%;
	min-height: 170px;
}
.content div{
	padding: 10px;
}
.clearfix:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
footer{
	background-color: #679BB7; 
	padding: 10px;
}
footer p{
	text-align: center; 
	margin: 5px;
}
.sidebar textarea{
	width: 95%;
	height: 60%;
	margin-bottom: 5px;
	resize: vertical;
}
#chatInput input{
	width: 70%;
}
.title{
	float:left;
}
.subTitle{
	float:right;
}
.headerSub{
	minHeight: 4em;
}
.gameBoard {

}
.gameCards {

}
.playerHand {
	
}
.room {
	background-size: 100%;
	background-repeat: no-repeat;
	height: 150px;
	width: 150px;
	float: left;
	margin: 0px;
	padding: 0px !important;
}
.room.ball_room {
	background-image: url("images/room_ball_room.png");
}
.room.billiard_room {
	background-image: url("images/room_billiard_room.png");
}
.room.conservatory {
	background-image: url("images/room_conservatory.png");
}
.room.dining_room {
	background-image: url("images/room_dining_room.png");
}
.room.hall {
	background-image: url("images/room_hall.png");
}
.room.kitchen {
	background-image: url("images/room_kitchen.png");
}
.room.library {
	background-image: url("images/room_library.png");
}
.room.lounge {
	background-image: url("images/room_lounge.png");
}
.room.study {
	background-image: url("images/room_study.png");
}

.card {
	background-size: 100%;
	background-repeat: no-repeat;
	height: 112px;
	width: 70px;
	float: left;
	margin: 0px;
	padding: 0px !important;
}

.card.MRS_WHITE {
	background-image: url("images/cards/suspects/white_card_small.png");
}

.card.MR_GREEN{
	background-image: url("images/cards/suspects/green_card_small.png");
}

.card.MISS_SCARLET {
	background-image: url("images/cards/suspects/scarlett_card_small.png");
}

.card.MRS_PEACOCK {
	background-image: url("images/cards/suspects/peacock_card_small.png");
}

.card.PROFESSOR_PLUM {
	background-image: url("images/cards/suspects/plum_card_small.png");
}

.card.COLONEL_MUSTARD {
	background-image: url("images/cards/suspects/mustard_card_small.png");
}

.card.KITCHEN {
	background-image: url("images/cards/rooms/kitchen_room_card_small.png");
}

.card.STUDY {
	background-image: url("images/cards/rooms/study_room_card_small.png");
}

.card.CONSERVATORY {
	background-image: url("images/cards/rooms/conservatory_room_card_small.png");
}

.card.DINING_ROOM {
	background-image: url("images/cards/rooms/dining_room_card_small.png");
}

.card.BILLIARD_ROOM {
	background-image: url("images/cards/rooms/billiard_room_card_small.png");
}

.card.BALLROOM {
	background-image: url("images/cards/rooms/ball_room_card_small.png");
}

.card.LOUNGE {
	background-image: url("images/cards/rooms/lounge_room_card_small.png");
}

.card.HALL {
	background-image: url("images/cards/rooms/hall_room_card_small.png");
}

.card.LIBRARY {
	background-image: url("images/cards/rooms/library_room_card_small.png");
}

.card.CANDLESTICK {
	background-image: url("images/cards/weapons/candlestick_card_small.png");
}

.card.ROPE {
	background-image: url("images/cards/weapons/rope_card_small.png");
}

.card.KNIFE {
	background-image: url("images/cards/weapons/knife_card_small.png");
}

.card.LEAD_PIPE {
	background-image: url("images/cards/weapons/pipe_card_small.png");
}

.card.WRENCH {
	background-image: url("images/cards/weapons/wrench_card_small.png");
}

.card.PISTOL {
	background-image: url("images/cards/weapons/pistol_card_small.png");
}

.CARD_BACK {
	background-image: url("images/cards/card_back_small.png");
}
.caseFileCards{
	width: 100%;
	padding: 5px 0px 0px 0px;
}
.CASE_FILE{
	background-image: url("images/etc/case_file_small.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 50%;
    height: 0px;
    padding-top: 40% !important;
    margin: 5px 0px 0px 0px;
}
.notes {
	background-image: url("images/etc/detective_notes_small.png");
	background-repeat: no-repeat;
    background-size: contain;
	padding-top: 100%;
    width: 100%;
    height: 20%;
}
